@model List<Product>


<partial name="_Notification"/>


<div class="container>
<div class="row">
        <!--<div class="col-12">
            <form>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
    @* <div class="form-group">
                                <label asp-for="Name"></label>
                                <input class="form-control" asp-for="Name" name="Name"/>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>-->
</div>

    <div class="row pt-4 pb-3">
            <div class="col-6">
                <h2 class="text-primary">
                    Product List
                </h2>
            </div>
        <div class="col-6 text-end" >
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-patch-plus"></i> Create New Product
            </a>
        </div>
        </div>
        <form class="row" method="get"  asp-controller="Product" asp-action="Index">
        <!--<select name="categoryid">
            <option value="0">All</option>
        @foreach (Category item in ViewBag.categorylist)
        {
                    <option value="@item.Id">@item.Name</option>
        }
        </select>-->
        <!--<div class="col-md-6 d-flex flex-row">
            <input type="search" id="form1" name="searchstring" value="@ViewBag.Searchstring" class="form-control w-25" />
            <button type="submit" class="btn btn-primary" data-mdb-ripple-init>
                🔎
            </button>
        </div>-->
        </form>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Author</th>
            <th>Category</th>
                <!--  <th>Image</th>-->
            <th>Action</th>
            
            

        </tr>
    </thead>

    <tbody>
        @foreach(var obj in Model)
        {

            <tr>
                <td>
                    @obj.Title
                </td>
                <td>
                    @obj.ISBN
                </td>
                <td>
                    @obj.Price
                </td>
                    <td>
                        @obj.Author
                    </td>

                    <td>
                        @obj.Category.Name
                    </td>
                    <!-- <td>
                @obj.ImageUrl
                     </td-->
                    
                <td> 
                    <div class="w-75 btn-group" role="group">
                        <a href="/Admin/Product/Edit?Id=@obj.Id"  class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                        </a>
                            <a href="/Admin/Product/Delete?Id=@obj.Id" class="btn btn-danger mx-2">
                             <i class="bi bi-trash-fill"></i> Delete
                            </a>

                           
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>